body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > * {
    display: block;
    margin-top: 1rem;
    font-size:1.6rem;
    width: 100%;
}
button{
    background-color:cadetblue;
    border: none;
    padding: 1rem;
    color: white;
    border-radius:4px;
}
h3{
    color: red;
}
#good-number{
    color:green;
}